<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>WebSocket With STOMP Broadcast Example</title>
    <!--    <th:block th:include="fragments/common.html :: headerfiles"></th:block>-->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
</head>
<body>
<div class="container">

    <div class="py-5 text-center">
        <a href="/"><h2>WebSocket</h2></a>
        <p class="lead">WebSocket Broadcast - with STOMP</p>
    </div>

    <div class="row">
        <div class="col-md-6">
            <div class="mb-3">
                <div class="input-group">
                    <input type="text" id="from" class="form-control" placeholder="Choose a nickname"/>
                    <input type="text" id="topic" class="form-control" placeholder="Choose a topic"/>
                    <div class="btn-group">
                        <button type="button" id="connect" class="btn btn-sm btn-outline-secondary" onclick="connect()">
                            Connect
                        </button>
                        <button type="button" id="disconnect" class="btn btn-sm btn-outline-secondary"
                                onclick="disconnect()" disabled>Disconnect
                        </button>
                    </div>
                </div>
            </div>
            <div class="mb-3">
                <div class="input-group" id="sendmessage" style="display: none;">
                    <input type="text" id="message" class="form-control" placeholder="Message">
                    <div class="input-group-append">
                        <button id="send" class="btn btn-primary" onclick="send()">Send</button>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-6">
            <div id="content"></div>
            <div>
                <span class="float-right">
                    <button id="clear" class="btn btn-primary" onclick="clearBroadcast()" style="display: none;">Clear</button>
                </span>
            </div>
        </div>
    </div>
</div>

<!--<footer th:insert="fragments/common.html :: footer"></footer>-->

<script th:src="@{/webjars/stomp-websocket/2.3.3-1/stomp.js}" type="text/javascript"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
<script src="http://cdn.sockjs.org/sockjs-0.3.min.js"/>
<script type="text/javascript">
    var stompClient = null
    var sockJs = null
    var userName = $('#from').val()

    function setConnected(connected) {
        $('#from').prop('disabled', connected)
        $('#connect').prop('disabled', connected)
        $('#disconnect').prop('disabled', !connected)
        if (connected) {
            $('#sendmessage').show()
        } else {
            $('#sendmessage').hide()
        }
    }

    function connect() {
        userName = $('#from').val()
        if (userName == null || userName === '') {
            alert('Please input a nickname!')
            return
        }

        var url = 'ws://localhost:8080/broadcast'
        // var url = '//localhost:8080/broadcast'
        sockJs = new SockJS(url)
        stompClient = Stomp.over(sockJs)


        let header = {
            "login": $('#from').val(),
            "passcode": 'custom passcode',
            "userId": $('#from').val(),
            "chatId": $('#topic').val()
        }

        stompClient.connect(header, function () {
            stompClient.subscribe('/topic/messages/' + $('#topic').val() , function (output) {
                showBroadcastMessage(createTextNode(JSON.parse(output.body)))
            })

            // sendConnection(' connected to server')
            setConnected(true)
        }, function (err) {
            alert('error' + err)
        })
    }

    function disconnect() {
        if (stompClient != null) {
            sendConnection(' disconnected from server')

            stompClient.disconnect(function () {
                console.log('disconnected...')
                setConnected(false)
            })
        }
    }

    function sendConnection(message) {
        var text = userName + message
        sendBroadcast({ 'from': 'server', 'text': text })
    }

    function sendBroadcast(json) {
        stompClient.send('/app/broadcast', {}, JSON.stringify(json))
    }

    function send() {
        var text = $('#message').val()
        sendBroadcast({ 'from': userName, 'text': text, 'chatId': $('#topic').val() })
        $('#message').val('')
    }

    function createTextNode(messageObj) {
        return '<div class="row alert alert-info"><div class="col-md-8">' +
            messageObj.text +
            '</div><div class="col-md-4 text-right"><small>[<b>' +
            messageObj.from +
            '</b> ' +
            messageObj.time +
            ']</small>' +
            '</div></div>'
    }

    function showBroadcastMessage(message) {
        $('#content').html($('#content').html() + message)
        $('#clear').show()
    }

    function clearBroadcast() {
        $('#content').html('')
        $('#clear').hide()
    }
</script>
</body>
</html>



<!--

https://stackoverflow.com/questions/25486889/websocket-stomp-over-sockjs-http-custom-headers
https://postitforhooney.tistory.com/entry/SpringStomp-Spring-stomp%EC%99%80-Socjks%EB%A5%BC-%ED%86%B5%ED%95%9C-%EC%9B%B9%EC%86%8C%EC%BC%93-%EA%B5%AC%ED%98%84%ED%95%98%EA%B8%B0-%EA%B7%B8%EB%A6%AC%EA%B3%A0-%EC%9E%A5%EB%8B%A8%EC%A0%90

-->